.confirm-head,
.home {
    color: #006bb7;
}
img#color-logo,
.home {
    display: block;
    margin: 0 auto;
}
img#color-logo {
    height: 22%;
    width: 22%;
    margin-top: 200px;
}
.confirm-head {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.home {
    border: 2px solid #ff671d;
    border-radius: 3px;
    background-color: Transparent;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
}
