html * {
    font-family: 'Open Sans', sans-serif !important;
}
form#form,
h2#form-text {
    background-color: #fff;
}
div#popupContact,
img#close,
#request-popup {
    position: absolute;
}
hr,
input[type=text] {
    border: 1px solid #ccc;
}
img#close,
#submit,
button {
    cursor: pointer;
}
input[type=text],
p {
    margin-top: 30px;
}
.requestButton,
.head-foot {
    text-align: center;
}
#submit,
button {
    color: #fff;
}
.requestButton,
#request-popup {
    width: 100%;
}
.requestButton {
    margin-top: 20px;
}
.head-foot,
button {
    font-size: 20px;
}
h2#form-text,
label {
    color: #767676;
}
#checkbox,
#submit {
    margin-top: 18px;
}
input[type="text"],
#submit {
    padding: 10px;
}
#request-popup {
    height: 100%;
    opacity: .95;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    margin-top: -355px;
}
img#close {
    right: -50px;
    top: -51px;
}
div#popupContact {
    left: 50%;
    top: 17%;
    margin-left: -202px;
}
form#form {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid #767676;
    border-radius: 10px;
}
h2#form-text {
    padding: 20px 35px;
    margin: -10px -50px;
    border-radius: 10px 10px 0 0;
}
hr {
    margin: 10px -50px;
}
input[type=text] {
    width: 82%;
    padding-left: 40px;
    font-size: 16px;
}
#name,
#email,
#checkbox {
    background-repeat: no-repeat;
    background-position: 5px 7px
}
#submit {
    text-decoration: none;
    width: 93%;
    display: block;
    background-color: #0075c9;
    border-radius: 5px;
}
button {
    width: 35%;
    border-radius: 3px;
    border: 3px solid #ff671d;
    background-color: Transparent;
    text-shadow: 3px 3px 5px black;
    font-size: 30px;
    word-wrap: break-word;
}
.hvr-grow {
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
img#phone {
    width: 25px;
}
