html * {
	font-family: 'Open Sans', sans-serif !important;
	color: white;
}
h1#login-main-head {
	text-align: center;
}
.login {
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	margin-left: 1300px;
	font-size: 20px;
}
div#home-link {
	width: -1%;
	border-radius: 3px;
	border: 2px solid #ff671d;
	background-color: Transparent;
	text-shadow: 3px 3px 5px black;
	min-width: 150px;
	min-height: 40px;
	word-wrap: nowrap;
	text-align: center;
	padding-top: 6px;
	float: right;
	margin-top: -78px;
}
.home {
	text-decoration: none;
	font-size: 20px;
}
body {
	background-image: url("./images/bike_store.jpg");
	height: 100%;
	background-position: center;
	background-repeat: repeat-x, repeat;
	background-size: cover;
  background-attachment: fixed;
}
form {
    border: 3px solid #f1f1f1;
		width: 500px;
    margin: 0 auto;
		margin-top: 100px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 40px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
