h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  display: inline;
  color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  color: #ff671d;
  font-family: 'Open Sans', sans-serif;
}

h2, ul {
  display: inline;
}

.main-logo {
  width: 200px;
  height: 60px;
}

.vticker-one {
	display: inline;
	width: 20%;
	margin-top: -38px;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("./images/bike_store.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: url("./images/designer.jpg");*/
}

/*.bg {
  background-image: url("./images/designer.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}*/
