html * {
	font-family: 'Open Sans', sans-serif !important;
}
h1#main-title,
h2#title-two,
#ticker {
  font-weight: lighter;
}
h1#main-title,
h2#title-two {
	color: white;
	text-align: center;
  text-shadow: 2px 2px 4px #18325b;
}
ul#title-list {
	color: #ff671d;
}
h2#title-two,
ul,
.vticker-one {
	display: inline;
}
h1#main-title {
  font-size: 50px;
}
h2#title-two {
  font-size: 35px;
}
.main-logo {
	display: block;
	margin: 0 auto;
	margin-top: 120px;
	width: 220px;
	height: 60px;
  -webkit-filter: drop-shadow(5px 5px 5px #454647);
  filter: drop-shadow(5px 5px 5px #454647);
}
.vticker-one {
	width: 20%;
	margin-top: -38px;
}
body {
	background-image: url("./images/bike_store.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*html {
	min-height: 100%;
}*/
